.navbar{
      background-color: white;

}
.navbar a {

  color: white;
text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.button{
background-color: Green;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  align-items: center;
  text-align: center;
  line-height: 50px;
  color: whitesmoke;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;

}

.button:hover{
background-color: darkgreen;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  align-items: center;
  text-align: center;
  line-height: 50px;
  color: black;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;

}
.h1{
  color: #37a33b;
  font-family: Times new roman;

}
